.logos {
  width: 70%;
  height: 70%;
  margin-top: 30px;
}

.o-grid__col-sm-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.c-number {
  box-sizing: content-box;
  font-size: 12px;
  width: 150px;
}
